@font-face {
    font-family: Quatron;
    src: url(..public/fonts/Quatron.ttf);
}

#app {
    .navbar-default {
            background-color: $navbar-default-bg;
            padding-bottom: 2px;
            margin-bottom: 0px;

        .name {
            p {
                color: white;
                font-size: 26px;
                text-align: center;
                font-weight: bold;
                margin-top: 10px;
                font-family: Quatron;
            }
        }
        .navbar-nav {
            li {
                a {
                    color: white;
                    font-weight: bold;

                    &:hover {
                        background-color: $navbar-default-link-hover-color;
                        border-radius: 3px;
                    }
                }
            }
        }

        .open a {
            background-color: #4a4d54;
        }
        }

        //Hamburger menu
        .navbar-toggle {
            border-color: white;
            &:hover {
                background-color: $navbar-default-link-hover-color;
            }
            &:focus {
                background-color: $navbar-default-link-hover-color;
            }

            span {
                background-color: white;
            }
        }
        img {
            width: 100%;
            height: auto;

        }

        #custom-search-input {
                input {
                    width: 100%;  
                    text-align: center;    
                }
                .input-group {
                    width: 100%;
                }
        }
    }

    .welcome {
    text-align: center;
    }

    .categories {
    text-align: center;

        button {    
            color: black;
            border-radius: 0px;
        }

        &:hover {
            color: black;
            background-color: $navbar-default-link-hover-bg;
        }
        }

        .btn-group {   
        margin: 3px;
        margin-left: 0px;
        }
    
        .buttons {
        .btn-sm {
            padding: 8px;   
        }
    }

    .dropdown {
        li {
            list-style-type: none;
            a {
                text-decoration: none;
            }
        }
        &:hover {

        }
    }

    footer {
        position:fixed;
        left:0px;
        bottom:0px;
        height:30px;
        width:100%;
        background: $footer-default-bg;
            p {
                text-align: center;
                color: white;
            }
    }
