@font-face {
    font-family: Quatron;
    src: url(..public/fonts/Quatron.ttf);
}

.jumbotron{
    background-color: #E6E6E6;
    margin-bottom: 0px;
    text-align: center;
    h1 {
        font-size: 20pt;
        font-weight: bold;
        }
    h2 {
        font-size: 16pt;
        }
    h3 {
        font-size: 12pt;
        }
}

.container-fluid{
    background-color: #F2F2F2;
    padding-bottom: 30px;
}

h1 {
    font-size: 20pt;
            font-weight: bold;
          }

table {
    border-collapse: collapse;
}

tr:nth-child(even){background-color: #F2F2F2;}
th {
    background-color: #E6E6E6;
}

#app {
    .navbar-default {
            background-color: $navbar-default-bg;
            margin-bottom: 0px;

        .name {
            p {
                color: white;
                font-size: 26px;
                text-align: center;
                font-weight: bold;
                margin-top: 10px;
                font-family: Quatron;
            }
        }


        .navbar-nav {
             .dropdown-menu {
                        a {color: black;}
                        a:hover{background-color: #F2F2F2;
                                border-radius: 0px;}
                    }
            li {
                a {
                    border-radius: 3px;
                    color: white;

                &:hover {
                        background-color: $navbar-default-link-hover-color;
                        }
                }
            }
        }


        .open a {
                    color: black;
        }
        }

        //Hamburger menu
        .navbar-toggle {
            border-color: white;
            &:hover {
                background-color: $navbar-default-link-hover-color;
            }
            &:focus {
                background-color: $navbar-default-link-hover-color;
            }

            span {
                background-color: white;
            }
        }
        img {
            width: 100%;
            height: auto;

        }

        #custom-search-input {
                input {
                    width: 100%;
                    text-align: center;
                }
                .input-group {
                    width: 100%;
                }
        }
}

    .welcome {
    text-align: center;
      }

    .categories {
    text-align: center;

        button {
            color: black;
            background: $btn-primary;
            border-radius: 5px;
            padding-bottom: 10px;
            padding-top: 10px;

        }

        &:hover {
            color: black;
            background-color: #FFB31A;
        }
        }

        .btn-group {
        margin: 3px;
        margin-left: 0px;
        }

        .btn-block {
        margin-bottom: 8px;
        }

        #panel-body {
            .btn-primary {
                background-color: $btn-primary;
                color: black;
            }

            a {
                color: white;
            }
        }

        .buttons {

            .btn-primary {
                background: $btn-primary;
                color: black;
                outline: none;
                border: none !important;
                margin-bottom: 4px;

            }
            .btn-secondary {
                background: $btn-primary-lighter;
                color: black;
                outline: none;
                border: none !important;
                margin-bottom: 4px;
            }

            .btn-danger {
                background: $btn-gray;
                color: white;
                outline: none;
                border: none !important;
                margin-bottom: 4px;
            }
    }

    .dropdown {
        li {
            list-style-type: none;
            a {
                text-decoration: none;
            }
        }
        &:hover {

        }
    }

    footer {
        position:fixed;
        z-index: 100 !important;
        left:0px;
        bottom:0px;
        height:30px;
        width:100%;
        background: $footer-default-bg;
            p {
                text-align: center;
                color: white;
            }
    }

    
form {
    input {
        .btn-succes {
            background-color: $btn-primary-color;
        }
    }
}
